<div>
    <div class="display-center">
        <h2>Input Your Income</h2>
    </div>
</div>

<div>
    <div class="display-center">

<form>
    <mat-form-field appearance="fill">
      <mat-label>Text Field</mat-label>
      <input matInput placeholder="Salary" id="text" name="text" #text>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Amount</mat-label>
        <input matInput placeholder="1000" id="amount" name="amount" #amount>
    </mat-form-field>

    <button (click)="addIncome(text.value, amount.value)"
      mat-stroked-button color="basic"
      > Submit</button>
</form>
</div>
</div>
