<div>
    <div class="display-center">
        <h2>Input Your Income</h2>
    </div>
</div>

<div>
    <div class="display-center">

        <form [formGroup]="form" (ngSubmit)="onSubmit()">
 
            <p>
              <label for="text">Text</label>
              <input 
              id="text"
              type="text" 
              name="text" 
              formControlName="text" 
              placeholder="Salary"
              >
            </p>
           
            <p>
              <label for="amount">Amount</label>
              <input
              id="amount"
              type="text" 
              name="amount" 
              formControlName="amount"
              placeholder="2000"
              >
            </p>

            <p>
                <button class="button" type="submit">Submit</button>
            </p>

        </form>
        
        <div class="display-center">
            {{totalIncome | currency:'BDT ' : 'symbol' : '2.2-2'}}

        </div>
    </div>
    <ul>
        <li 
        class="list-center" 
        *ngFor="let data of retrieveData"
        >
        {{data.text}} : {{data.amount}}
        <button class="button" type="button" (click)="removeIncomeItem(data.text)"> Delete

        </button>
    </li>
</ul>

<!-- <form [formGroup]="form">
    <div *ngFor="let field of retrieveData">
        <input [formControlName]="field.text">
        <button>{{field.text}}</button>
        
    </div>
</form>
{{form?.value|json}} -->

</div>