<div>
    <div class="display-center">
        <h2>Input Your Expenses</h2>
    </div>
</div>

<div>
    <div class="display-center">

<form>
    <mat-form-field appearance="fill">
      <mat-label>Text Field</mat-label>
      <input matInput placeholder="Home Bill" id="text" name="text" #text>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Amount</mat-label>
        <input matInput placeholder="1000" id="amount" name="amount" #amount>
    </mat-form-field>
</form>

    <button (click)="addExpenses(text.value, amount.value)"
      mat-stroked-button color="basic"
      > Submit</button>

 
<div class="display-center">

    {{totalExpense | currency:'BDT ' : true: '3.2-2'}}

</div>

</div>
<li *ngFor="let data of retrieveData">
    {{data.text}} : {{data.amount}}

    <button (click)="removeExpenseItem(data.text)"
      mat-stroked-button color="basic"
      > Delete</button>
</li>
</div>
