<div>
    <div class="display-center">
        <h2>Input Your Expenses</h2>
    </div>
</div>

<div>
    <div class="display-center">

        <form #dataForm="ngForm" (ngSubmit)="onSubmit(dataForm)">
            <p>
              <label for="text">Text</label>
              <input type="text" name="text" #text ngModel>
            </p>

            <p>
              <label for="amount">Amount</label>
              <input type="text" name="amount" #amount ngModel>
            </p>

            <p>
                <button type="submit">Submit</button>
            </p>
        </form>

<div class="display-center">

    {{totalExpense | currency:'BDT ' : 'symbol' : '3.2-2'}}

</div>

</div>
<ul>
    <li class="list-center"  *ngFor="let data of retrieveData" >
    {{data.text}} : {{data.amount}}

    <button type="button" (click)="removeExpenseItem(data.text)"> Delete</button>
    </li>
</ul>
</div>
