<div>
    <div class="display-center">
        <h2>Input Your Expenses</h2>
    </div>
</div>

<div>
    <div class="display-center">

        <form #dataForm="ngForm" (ngSubmit)="onSubmit(dataForm)">
            
            <p>
              <label for="text">Text</label>
              <input type="text" name="text" placeholder="Type Expenses" #text ngModel>
            </p>
   

            <p>
              <label for="amount">Amount</label>
              <input type="text" name="amount" placeholder="1000" #amount ngModel>
            </p>

            <p>
                <label for="date">Birthday:</label>
                <input type="date" name="date" #date ngModel>
                
            </p>

            <p>
                <button class="button" type="submit">Submit</button>
            </p>

            
        </form>

<div class="display-center">

    {{totalExpense | currency:'BDT ' : 'symbol' : '3.2-2'}}

</div>

</div>

<ul>
    <li   *ngFor="let data of retrieveData" >
    {{data.text}} : {{data.amount}}

    <button class="button" type="button" (click)="removeExpenseItem(data.text)"> Delete</button>
    </li>
</ul>

</div>
